<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<link rel="stylesheet" th:href="@{/css/boardReply.css}" />
</head>
<script type="text/javascript">

    function getBoardReply(board_id) {
        const sessionNickname = $("#session_nickname").text();
        $.ajax({
            type : "GET",
            url : "/board/reply/boardReply",
            data : {
                board_id : board_id
            },
            success : function (response) {
                console.log("성공:", response);
                console.log(response);
                $(".board_reply_wrapper").empty();

                response.forEach(function (br) {
                    let html = '';
					console.log(br);
                    if (br.reply_status === 'reply') {
                        html += `
                            <div class="board_reply_container">
                        		<span id="reply_id" hidden="true" style="display: none">`+ br.reply_id + `</span>
                        		<span id="reply_status" hidden="true" style="display: none">`+ br.reply_status + `</span>
                                <div class="board_reply_info">
                                    <img class="board_reply_profileImg" alt="프로필 사진" src="/images/cat.png">
                                    <span class="board_reply_userNickName">${br.user_nickname}</span>
                                    <span class="board_reply_write_date">${getTimeAgo(br.reply_date_differ)}</span>
                                    <div class="board_reply_report_btn">
                                        <img alt="신고버튼" src="/img/icon/reply_report_icon.png" />
                                    </div>
                                </div>
                                <div class="board_reply_content_container">
                                    <span class="board_reply_content">${br.reply_content}</span>
                                </div>
                                    `;
               		             if(br.reply_writer === sessionNickname)   {
               		                 html += `
                                	<div class="board_reply_button_container">
               		                  	<button id="replyUpdate" type="button" class="board_reply_button">댓글 수정</button>
               		                 	<button id="replyDelete" type="button" class="board_reply_button">댓글 삭제</button>
                                 	  	<button id="replyRereply" type="button" class="board_reply_button">대댓글 작성</button>
               		                 `;
               		             } else {
               		              html += `
           		               		<div class="board_reply_button_container_other">
                           	  			<button id="replyRereply" type="button" class="board_reply_button">대댓글 작성</button>
             		                 `;
               		             }               
               		             html += `
                                </div>
                            </div>
                            <div class="board_reply_reReply_insert_container" style="display:none">
	                        	<textarea id="reReplyInsertForm" class="board_reply_reReply_insert_form"></textarea>
	                        	<button id="reReplyInsertBtn" class="board_reply_reReply_insert_btn">작성</button>
                        	</div>
                        	<div class="board_reply_update_container" style="display:none">
	                        	<textarea id="replyUpdateForm" class="board_reply_reReply_insert_form"></textarea>
	                        	<button id="replyUpdateBtn" class="board_reply_reReply_insert_btn">수정</button>
	                        </div>
                        `;
                    } else {
                        html += `
                            <div class="board_reply_reReply_container">
	                            <span id="reply_id" hidden="true" style="display: none">`+ br.reply_id + `</span>
	                    		<span id="reply_status" hidden="true" style="display: none">`+ br.reply_status + `</span>
                                <div class="board_reply_reReply_box">
                                	<div class="board_reply_reReply_icon_container">
                                		<img alt="대댓글 아이콘" src="/img/icon/reReply_icon.png" />
                                	</div>
                                	<div class="board_reply_container_inner">
		                                <div class="board_reply_reReply_info">
		                                    <img class="board_reply_profileImg" alt="프로필 사진" src="/images/cat.png">
		                                    <span class="board_reply_userNickName">${br.user_nickname}</span>
		                                    <span class="board_reply_write_date">${getTimeAgo(br.reply_date_differ)}</span>
		                                    <div class="board_reply_report_btn">
		                                        <img alt="신고버튼" src="/img/icon/reply_report_icon.png" />
		                                    </div>
		                                </div>
		                                <div class="board_reply_content_container">
		                                    <span class="board_reply_content">${br.reply_content}</span>
		                                </div>
		                                `;
		               		             if(br.reply_writer === sessionNickname)   {
		               		                 html += `
		                                	<div class="board_reply_button_container">
		               		                 	<button id="replyUpdate" type="button" class="board_reply_button">댓글 수정</button>
		               		                 	<button id="replyDelete" type="button" class="board_reply_button">댓글 삭제</button>
		                                 	  	<button id="replyRereply" type="button" class="board_reply_button">대댓글 작성</button>
		               		                 `;
		               		             } else {
		               		              html += `
		           		               		<div class="board_reply_button_container_other">
		                           	  			<button id="replyRereply" type="button" class="board_reply_button">대댓글 작성</button>
		             		                 `;
		               		             }                     
			             html += `
		                                </div>
	                                </div>
                                </div>
                            </div>
                            <div class="board_reply_reReply_insert_container" style="display:none">
                            	<textarea id="reReplyInsertForm" class="board_reply_reReply_insert_form"></textarea>
                            	<button id="reReplyInsertBtn" class="board_reply_reReply_insert_btn">작성</button>
                            </div>
                            <div class="board_reply_update_container" style="display:none">
                            	<textarea id="replyUpdateForm" class="board_reply_reReply_insert_form"></textarea>
                            	<button id="replyUpdateBtn" class="board_reply_reReply_insert_btn">수정</button>
                            </div>
                        `;
                    }
                    $(".board_reply_wrapper").append(html);
                });
            },
            error : function (xhr, status, error) {
                console.error("에러:", error);
            }
        });
        
        function getTimeAgo(minute) {
            
            if(minute <= 59) {
                return minute + "분 전";
            } else if(minute <= 1440) {
                
                return Math.trunc(minute / 60) + "시간 전";
                
            } else {
                
                return Math.trunc(minute / 60 / 24) + "일 전";
            }
            
        }
    }
    
    
    $(document).ready(function () {
	    $("#reply_insert_btn").click(function() {
	        const sessionNickname = $("#session_nickname").text();
	        $.ajax({
	            type : "POST",
	            url : "/board/reply/boardReplyInsert",
	            data : {
	                reply_content : $("#reply_insert_form").val(),
	                reply_writer : sessionNickname,
	                board_id : 999,
	            },
	            success : function () {
	                getBoardReply("999");
	            },
	            error : function (xhr, status, error) {
	                console.error("에러:", error);
	            }
	        })
	        
	        $("#reply_insert_form").val("");
	    });
	    
	    $(document).on("click", "#replyDelete", function () {
	        const container = $(this).closest(".board_reply_container, .board_reply_reReply_container");
	        const reply_id = container.find("span#reply_id").text().trim();
	        const reply_status = container.find("span#reply_status").text().trim();

	        if(confirm("정말 삭제하시겠습니까?")) {
		        $.ajax({
		            type : "POST",
		            url : "/board/reply/boardReplyDelete",
		            data : {
		                reply_id : reply_id,
		                reply_status : reply_status,
		            },
		            success : function () {
		                getBoardReply("999");
		            },
		            error : function (xhr, status, error) {
		                console.error("삭제 실패:", error);
		            }
		        });
	            
	        } else {
	            return ;
	        }
	        
	    });
	    
	    $(document).on("click", "#replyRereply", function(){
	        
	        $(".board_reply_reReply_insert_container").hide();
	        $(".board_reply_update_container").hide();
	        
	        const container = $(this).closest(".board_reply_container, .board_reply_reReply_container");
	        const inputBox = container.next(".board_reply_reReply_insert_container");
	        
	        if (container.hasClass("board_reply_container")) {
	        	inputBox.toggle();
	        	
	        } else {
	            inputBox.css("margin-left", "67px");
	            inputBox.toggle();
	            
	        }
	    });
	    
	    $(document).on("click", "#replyUpdate", function(){
	        
	        $(".board_reply_reReply_insert_container").hide();
	        $(".board_reply_update_container").hide();
	        
	        const container = $(this).closest(".board_reply_container, .board_reply_reReply_container");
	        const inputBox = container.nextAll(".board_reply_update_container").eq(0);
	        
	        if (container.hasClass("board_reply_container")) {
	        	inputBox.toggle();
	        	
	        } else {
	            inputBox.css("margin-left", "67px");
	            inputBox.toggle();
	            
	        }
	        
	    });
	    
	    $(document).on("click", "#reReplyInsertBtn", function(){
	        const sessionNickname = $("#session_nickname").text();
	        const container = $(this).closest(".board_reply_reReply_insert_container").prev();
	        const reply_id = container.find("span#reply_id").text().trim();
	        const reply_content = $(this).siblings("#reReplyInsertForm").val();
	        console.log(reply_id);
	        
	        $.ajax({
	            type : "POST",
	            url : "/board/reply/boardRereplyInsert",
	            data : {
	                reply_content : reply_content,
	                reply_writer : sessionNickname,
	                reply_id : reply_id,
	                board_id : 999,
	            },
	            success : function () {
	                getBoardReply("999");
	            },
	            error : function (xhr, status, error) {
	                console.error("에러:", error);
	            }
	        })
	        
	    });
	    
	    $(document).on("click", "#replyUpdateBtn", function(){
	        const sessionNickname = $("#session_nickname").text();
	        const container = $(this).closest(".board_reply_update_container").prev().prev();
	        const reply_id = container.find("span#reply_id").text().trim();
	        const reply_status = container.find("span#reply_status").text().trim();
	        const reply_content = $(this).siblings("#replyUpdateForm").val();
	        console.log(reply_id);
	        console.log(reply_status);
	        
	        $.ajax({
	            type : "POST",
	            url : "/board/reply/boardReplyUpdate",
	            data : {
	                reply_content : reply_content,
	                reply_id : reply_id,
	                reply_status : reply_status,
	                board_id : 999,
	            },
	            success : function () {
	                getBoardReply("999");
	            },
	            error : function (xhr, status, error) {
	                console.error("에러:", error);
	            }
	        })
	    });
	    
    })
</script>
<body>
	<span id="session_nickname" th:text="${session.nickname}"></span>
	<button onclick="getBoardReply(999);">댓글 가져오기</button>

	<div class="board_reply_wrapper"></div>

	<div class="board_reply_insert_container">
		<textarea id="reply_insert_form" class="board_reply_insert_form" placeholder="댓글 작성하기"></textarea>
		<button id="reply_insert_btn" class="board_reply_insert_btn">작성</button>
	</div>
</body>
</html>