<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ini.member.mapper.MemberMapper">

	<select id="findAllMember" resultType="com.ini.member.vo.MemberDTO">
		select user_id, user_password, user_nickname, user_email, user_phone_number,
		user_profile_img
		from ini_user
	</select>

	<select id="findMemberById" resultType="com.ini.member.vo.MemberDTO">
		select user_id, user_password, user_nickname, user_email, user_phone_number,
		user_profile_img
		from ini_user
		where user_id = #{user_id}
	</select>

	<select id="findByEmail" resultType="com.ini.member.vo.MemberDTO">
		SELECT user_id, user_password, user_nickname, user_email, user_phone_number,
		user_profile_img
		FROM ini_user
		WHERE user_email = #{user_email}
	</select>

	<select id="findFollowById" resultType="com.ini.member.vo.MemberFollowDTO">
		select follower_id, user_id, follow_date
		from user_follow
		where follower_id =
		#{user_id, jdbcType=VARCHAR}
	</select>

	<select id="findBoardById" resultType="com.ini.board.vo.BoardDTO">
		select board_id, user_id, board_title, board_content, board_date
		from ini_board
		where
		user_id = #{user_id, jdbcType=VARCHAR}
	</select>

	<select id="findLikeById" resultType="com.ini.board.vo.BoardLikeDTO">
		select like_id, user_id, board_id, like_date
		from board_like
		where user_id =
		#{user_id,
		jdbcType=VARCHAR}
	</select>

	<select id="findReplyById" resultType="com.ini.board.vo.BoardReplyDTO">
		select reply_id, board_id, reply_writer, reply_content, reply_date
		from
		board_reply
		where reply_writer = #{user_id, jdbcType=VARCHAR}
	</select>

	<select id="findFavoriteById" resultType="com.ini.member.vo.MemberFavoriteDTO">
		select favorite_id, user_id, favorite_type, favorite_date
		from user_favorite
		where
		user_id = #{user_id, jdbcType=VARCHAR}
	</select>
	
	<select id="findBoardLikeReplyById" resultType="com.ini.board.vo.BoardWithLikeReplyDTO">
		select b.board_id
		, b.board_title
		, b.user_id
		, b.board_views
		,
		b.board_category
		, b.board_tag
		, count(distinct bl.board_id) as board_like_cnt
		, count(distinct br.board_id) as
		board_reply_cnt
		from
		ini_board b
		left join board_like bl on b.board_id = bl.board_id
		left join board_reply br on b.board_id =
		br.board_id
		where
		b.user_id
		= 'test'
		group by b.board_id
		, b.board_title
		, b.user_id
		, b.board_views
		, b.board_category
		,
		b.board_tag
		,
		b.board_write_date
		order by
		b.board_write_date asc
	</select>

	<select id="findBoardLikeReplyByLikeId" resultType="com.ini.board.vo.BoardWithLikeReplyDTO">
		select b.board_id
		, b.board_title
		, b.user_id
		, b.board_views
		,
		b.board_category
		, b.board_tag
		, count(distinct bl.board_id) as board_like_cnt
		, count(distinct br.board_id) as
		board_reply_cnt
		from
		ini_board b
		left join board_like bl on b.board_id = bl.board_id
		left join board_reply br on b.board_id =
		br.board_id
		where
		bl.user_id = 'test' and BL.LIKE_STATUS = 1
		group by b.board_id
		, b.board_title
		, b.user_id
		, b.board_views
		,
		b.board_category
		,
		b.board_tag
		, b.board_write_date
		order by b.board_write_date asc
	</select>

	<select id="findBoardLikeReplyByReplyId" resultType="com.ini.board.vo.BoardWithLikeReplyDTO">
		select b.board_id
		, b.board_title
		, b.user_id
		, b.board_views
		,
		b.board_category
		, b.board_tag
		, count(distinct bl.board_id) as board_like_cnt
		, count(distinct br.board_id) as
		board_reply_cnt
		from
		ini_board b
		left join board_like bl on b.board_id = bl.board_id
		left join board_reply br on b.board_id =
		br.board_id
		where
		br.reply_writer = 'test'
		group by b.board_id
		, b.board_title
		, b.user_id
		, b.board_views
		, b.board_category
		,
		b.board_tag
		,
		b.board_write_date
		order by b.board_write_date asc
	</select>

	<select id="findBoardLikeReplyByFavoriteId" resultType="com.ini.board.vo.BoardWithLikeReplyDTO">
		select b.board_id
		, b.board_title
		, b.user_id
		, b.board_views
		,
		b.board_category
		, b.board_tag
		, count(distinct bl.board_id) as board_like_cnt
		, count(distinct br.board_id) as
		board_reply_cnt
		from
		ini_board b
		left join board_like bl on b.board_id = bl.board_id
		left join board_reply br on b.board_id =
		br.board_id
		where
		b.board_id = (select board_id from user_favorite where user_id = 'test')
		group by b.board_id
		, b.board_title
		, b.user_id
		,
		b.board_views
		, b.board_category
		, b.board_tag
		,
		b.board_write_date
		order by b.board_write_date asc
	</select>


	<insert id="insertMember" parameterType="com.ini.member.vo.MemberDTO">
		INSERT INTO INI_USER (
		USER_ID, USER_PASSWORD, USER_NICKNAME, USER_EMAIL,
		USER_PHONE_NUMBER, USER_PROFILE_IMG
		) VALUES (
		#{user_id, jdbcType=VARCHAR}, #{user_password, jdbcType=VARCHAR},
		#{user_nickname,
		jdbcType=VARCHAR}, #{user_email,
		jdbcType=VARCHAR}, #{user_phone_number, jdbcType=VARCHAR},
		#{user_profile_img_path,
		jdbcType=VARCHAR}
		)
	</insert>

	<!-- 닉네임 중복 확인 -->
	<select id="findByNickname" parameterType="String" resultType="com.ini.member.vo.MemberDTO">
		SELECT * FROM INI_USER WHERE USER_NICKNAME =
		#{nickname}
	</select>

	<insert id="insertOAuthUser" parameterType="com.ini.member.vo.MemberDTO">
		INSERT INTO ini_user (user_id, user_password, user_nickname, user_email,
		user_phone_number, user_profile_img)
		VALUES (
		#{user_id, jdbcType=VARCHAR},
		#{user_password, jdbcType=VARCHAR},
		#{user_nickname,
		jdbcType=VARCHAR},
		#{user_email, jdbcType=VARCHAR},
		#{user_phone_number, jdbcType=VARCHAR},
		#{user_profile_img_path, jdbcType=VARCHAR}
		)
	</insert>

</mapper>
