@charset "UTF-8";

@font-face {
	font-family: 'Ownglyph_PDH';
	src: url('/fonts/Ownglyph_PDH.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.board_reply_wrapper {
	width: 1440px;
	height: fit-content;
	margin: 0 auto;
}

.board_reply_container {
	width: 550px;
	min-height: 157px;
	height: fit-content; border-radius : 19px;
	background-color: #D9D9D94D;
	display: flex;
	flex-direction: column;
	margin-top: 43px;
	border-color: #000000;
	border: thin;
	border-style: solid;
	border-radius: 19px;
	position: relative;
}

.board_reply_info {
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 520px;
	height: fit-content;
	display: flex;
}

.board_reply_profileImg {
	width: 61px;
	height: 61px;
}

.board_reply_userNickName {
	margin-left: 10px;
	align-self: center;
	height: 33px;
	width: fit-content;
	font-family: "Ownglyph_PDH", sans-serif;
	font-size: 30px;
	align-self: center;
}

.board_reply_write_date {
	margin-left: 20px;
	align-self: center;
	height: 17px;
	width: fit-content;
	font-family: "Ownglyph_PDH", sans-serif;
	font-size: 20px;
	height: 17px;
	opacity: 0.5;
	align-self: center;
}

.board_reply_report_btn {
	margin-top: 10px;
	margin-right: 20px;
	margin-left: auto;
	align-self: flex-start;
	width: 22px;
	height: 22px;
	cursor: pointer;
}

.board_reply_content_container {
	width: fit-content;
	min-height: 27px;
	height: fit-content;
	margin-top: 20px;
	margin-right: 40px;
	padding-bottom: 37px;
}

.board_reply_content {
	font-family: "Ownglyph_PDH", sans-serif;
	font-size: 30px;
	margin-left: 41px;
}

.board_reply_button_container {
	display: grid;
	grid-template-columns: 100px 100px 100px;
	height: 17px;
	width: fit-content;
	align-self: flex-end;
	margin-top: 10px;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.board_reply_button_container_other {
	display: grid;
	grid-template-columns: 100px;
	height: 17px;
	width: fit-content;
	align-self: flex-end;
	margin-top: 10px;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.board_reply_button {
	font-family: "Ownglyph_PDH", sans-serif;
	font-size: 20px;
	opacity: 0.5;
	border: none;
	cursor: pointer;
	background: none;
}

.board_reply_reReply_container {
	width: 550px;
	min-height: 157px;
	height: fit-content;
	border-radius: 19px;
	background-color: #D9D9D94D;
	display: flex;
	flex-direction: column;
	margin-top: 9px;
	margin-left: 66px;
	border-color: #000000;
	border: thin;
	border-style: solid;
	position: relative;
}

.board_reply_reReply_box {
	display: flex;
	flex-direction: row;
}

.board_reply_reReply_icon_container {
	display: flex;
	width: 20px;
	height: 14px;
	margin-top: 37px;
	margin-left: 21px;
}

.board_reply_reReply_info {
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 520px;
	height: fit-content;
	display: flex;
}

.board_reply_container_inner {
	display: flex;
	flex-direction: column;
	width: fit-content;
}

.board_reply_insert_container {
	width: 1440px;;
	height: 106px;
	background-color: #D9D9D9;
	bottom: 0px;
	display: flex;
	flex-direction: row;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	position: relative;
	border-radius: 15px 15px 15px 15px;
}

.board_reply_insert_form {
	font-family: "Ownglyph_PDH", sans-serif;
	font-size: 30px;
	align-self: center;
	border: none;
	background-color: #D9D9D9;
	width: 100%;
	height: 100%;
	overflow: auto;
	resize: none;
	padding: 0;
	border-radius: 15px 0px 0px 15px;
	margin-left: 10px;
}

.board_reply_insert_btn {
	font-family: "Ownglyph_PDH", sans-serif;
	font-size: 30px;
	width: 100px;
	height: 100%;
	border: none;
	cursor: pointer;
	border-radius: 0px 15px 15px 0px;
}

.board_reply_reReply_insert_container {
	width: 550px;
	height: 120px;
	display: flex;
	flex-direction: row;
	margin-top: 5px;
}

.board_reply_reReply_insert_form {
	font-family: "Ownglyph_PDH", sans-serif;
	font-size: 20px;
	width: 85%;
	border: none;
	background-color: #D9D9D9;
	resize: none;
	border-radius: 15px 0px 0px 15px;
}

.board_reply_reReply_insert_btn {
	font-family: "Ownglyph_PDH", sans-serif;
	font-size: 30px;
	width: 15%;
	border: none;
	border-radius: 0px 15px 15px 0px;
	cursor: pointer;
}

.board_reply_update_container {
	width: 550px;
	height: 120px;
	display: flex;
	flex-direction: row;
	margin-top: 5px;
}

.replyUpdateForm {
	font-family: "Ownglyph_PDH", sans-serif;
	font-size: 20px;
	width: 85%;
	border: none;
	background-color: #D9D9D9;
	resize: none;
	border-radius: 15px 0px 0px 15px;
}

.replyUpdateBtn {
	font-family: "Ownglyph_PDH", sans-serif;
	font-size: 30px;
	width: 15%;
	border: none;
	border-radius: 0px 15px 15px 0px;
	cursor: pointer;
}