@charset "UTF-8";

@font-face {
	font-family: 'Ownglyph_PDH';
	src: url('/fonts/Ownglyph_PDH.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html {
	font-display: swap;
}

body {
	max-width: 1440px !important;
	width: 100%!important;
	margin: 0 auto!important;
}