<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Login Page</title>
<link rel="stylesheet" th:href="@{/css/login.css}" />
</head>
<th:block th:replace="member/header :: header"></th:block>
<body>

	<!-- 로그인 박스 -->
	<div class="login-container">
		<div class="login-box">
			<h2>Login</h2>
			<form method="post" action="/login">
				<div class="form-group">
					<label for="email">이메일:</label>
					<input type="text" id="email" name="username" required />
				</div>
				<div class="form-group">
					<label for="pw">비밀번호:</label>
					<input type="password" id="pw" name="password" required />
				</div>
				<div class="button-group">
					<button type="button" id="joinBtn" class="join-button">Join</button>
					<button type="submit" class="login-button">Login</button>
				</div>
			</form>

			<!-- 구글 로그인 -->
			<a href="/oauth2/authorization/google" class="google-login">
				<img src="/images/gmail_logo.png" alt="Gmail Logo" /> Gmail로 로그인
			</a>
		</div>

		<!-- 비밀번호 찾기 -->
		<div class="find-password">
			<a href="/finding-password" style="color: #888; text-decoration: none;">finding password</a>
		</div>

	</div>
	<script>
        document.getElementById('joinBtn').addEventListener('click',
                function () {
                    window.location.href = '/member/signup';
                });

        if (window.location.search.indexOf('error') > -1) {
            alert('이메일 또는 비밀번호가 틀렸습니다.');
        }
    </script>
</body>
</html>