<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>프로필 이미지 업로드</title>
</head>
<body>
<div style="margin-top: 20px;">
		<form id="profileImageForm" th:action="@{/member/memberProfileUpdate}"
			method="post" enctype="multipart/form-data">
			<label for="profileUploadInput"> <img
				th:src="@{${member_info.user_profile_img != null} ? '/images/profile/' + ${member_info.user_profile_img} : '/images/default-profile.png'}"
				class="profile_image" alt="프로필 사진" />
			</label> <input id="profileUploadInput" type="file" name="profileImage"
				accept="image/*" />
		<button type="button" id="submit_button">프로필 업로드</button>
		</form>
	</div>

	<script>
		document.addEventListener("DOMContentLoaded", function() {
			const uploadBtn = document.getElementById('submit_button');
			const fileInput = document.getElementById('profileUploadInput');
			const form = document.getElementById('profileImageForm');

			uploadBtn.addEventListener('click', function() {
				if (!fileInput.files.length) {
					alert("먼저 파일을 선택해주세요.");
					return;
				}
				const confirmed = confirm("선택한 이미지로 프로필 사진을 변경하시겠습니까?");
				if (confirmed) {
					form.submit();
				}
			});

		});
	</script>
</body>
</html>