<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>프로필 수정</title>
</head>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<link rel="stylesheet" th:href="@{/css/profileUpdate.css}" />
<th:block th:replace="member/header :: header"></th:block>
<body>
	<div class="member_profile_update_form_wrapper">
		<form class="member_profile_update_form" id="profileUpdateForm" th:action="@{/member/memberProfileUpdate}" method="post"
			enctype="multipart/form-data">

			<!-- 이미지 업로드 -->
			<div class="member_profile_img_update_container">
				<label for="profileUploadInput"> <img
					th:src="@{${member_info.user_profile_img_path != null} 
                        ? '/uploads/profile/' + ${member_info.user_profile_img_path} 
                        : '/images/default-profile.png'}"
					class="profile_image_preview" alt="프로필 사진" />
				</label>
				<input class="profile_image_input_btn" id="profileUploadInput" type="file" name="user_profile_img" accept="image/*" />
			</div>

			<div class="member_profile_id_container profile_grid">
				<span class="profile_label">아이디</span>
				<input class="profile_input readonly" th:value="${member_info.user_id}" name="user_id" readonly="readonly">
			</div>
			
			<div class="member_profile_email_container profile_grid">
				<span class="profile_label">이메일</span>
				<input class="profile_input readonly" th:value="${member_info.user_email}" name="user_email" readonly="readonly">
			</div>
			
			<div class="member_profile_id_container profile_grid_check">
				<span class="profile_label">닉네임</span>
				<input class="profile_input" id="user_nickname_input" name="user_nickname" th:value="${member_info.user_nickname}">
				<button type="button" class="check_btn" id="nickname_check_btn" onclick="checkDuplicate('nickname')">중복확인</button>
			</div>
			
			<div class="member_profile_id_container profile_grid">
				<span class="profile_label">비밀번호 변경</span>
				<input type="password" class="profile_input" id="user_password_input" name="user_password" placeholder="*********">
			</div>
			
			<div class="member_profile_id_container profile_grid_check">
				<span class="profile_label">비밀번호 확인</span>
				<input type="password" class="profile_input" id="user_password_check_input" placeholder="*********">
				<img class="password_check_img" id="password_check_img" alt="비밀번호 확인" th:src="@{/img/icon/password_check.png}">
			</div>
			
			<div class="member_profile_id_container profile_grid_check">
				<span class="profile_label">전화번호</span>
				<input class="profile_input" name="user_phone_number" th:value="${member_info.user_phone_number}">
			</div>

			<!-- 자기소개 -->
			<div class="member_profile_intro_container profile_grid">
				<span class="profile_label">자기소개</span>
				<textarea class="profile_input profile_text_area" name="user_intro" maxlength="100" rows="3" cols="50" placeholder="한 줄 자기소개를 입력하세요. (최대 100자)">[[${member_info.user_intro}]]</textarea>
			</div>

			<!-- 제출 버튼 -->
			<button type="submit" class="check_btn submit_btn" id="submit_btn">프로필 전체 수정</button>
		</form>
	</div>
</body>
<script th:src="@{/js/profileUpdate.js}"></script>
</html>