
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>INI 홈</title>
<link rel="stylesheet" th:href="@{/css/Home.css}" />
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
	<th:block th:replace="~{member/header :: header}"></th:block>

	<div class="home-container">

		<div class="home-banner">
			<img class="home-banner-img" th:src="@{/img/icon/main.png}" alt="홈 이미지" />
		</div>

		<section class="home-section">
			<h2 class="home-section-title">
				<span class="section-icon" th:text="#{home_board_views}"></span>
			</h2>
			<div class="home-list" th:each="br : ${board_views}">
				<a th:href="@{/board/view/{id}(id=${br.board_id})}" class="home-item">
					<span class="item-nickname" th:text="${br.user_id}"></span>
					<span class="item-category tag-box" th:classappend="${br.board_category}" th:text="${br.board_category}"></span>

					<span class="item-title">
						<span th:if="${br.has_image == '1'}" class="item-image-indicator">
							<img th:src="@{/img/icon/has_image.png}" alt="이미지" />
						</span>
						<span th:text="${br.board_title}"></span>
					</span>

					<!-- 조회수 -->
					<span class="item-metric">
						<img th:src="@{/img/icon/views_icon.png}" alt="조회수" />
						<span th:text="${br.board_views}"></span>
					</span>

					<!-- 좋아요 -->
					<span class="item-metric">
						<img th:src="@{/img/icon/like_icon.png}" alt="좋아요" />
						<span th:text="${br.board_like_cnt}"></span>
					</span>

					<!-- 댓글 -->
					<span class="item-metric">
						<img th:src="@{/img/icon/reply_icon.png}" alt="댓글" />
						<span th:text="${br.board_reply_cnt}"></span>
					</span>
				</a>
			</div>
		</section>

		<section class="home-section">
			<h2 class="home-section-title">
				<span class="section-icon" th:text="#{home_board_recent}"></span>
			</h2>
			<div class="home-list" th:each="br : ${board_recent}">
				<a th:href="@{/board/view/{id}(id=${br.board_id})}" class="home-item">
					<span class="item-nickname" th:text="${br.user_id}"></span>
					<span class="item-category tag-box" th:classappend="${br.board_category}" th:text="${br.board_category}"></span>

					<span class="item-title">
						<span th:if="${br.has_image == '1'}" class="item-image-indicator">
							<img th:src="@{/img/icon/has_image.png}" alt="이미지" />
						</span>
						<span th:text="${br.board_title}"></span>
					</span>

					<!-- 조회수 -->
					<span class="item-metric">
						<img th:src="@{/img/icon/views_icon.png}" alt="조회수" />
						<span th:text="${br.board_views}"></span>
					</span>

					<!-- 좋아요 -->
					<span class="item-metric">
						<img th:src="@{/img/icon/like_icon.png}" alt="좋아요" />
						<span th:text="${br.board_like_cnt}"></span>
					</span>

					<!-- 댓글 -->
					<span class="item-metric">
						<img th:src="@{/img/icon/reply_icon.png}" alt="댓글" />
						<span th:text="${br.board_reply_cnt}"></span>
					</span>
				</a>
			</div>
		</section>

	</div>
</body>
</html>
