<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ini.board.mapper.BoardReplyMapper">
	<select id="findBoardReplyByBoardId" resultType="com.ini.board.vo.BoardReplyWithUserDTO">
		SELECT R.REPLY_ID
		, R.REPLY_CONTENT
		, R.REPLY_WRITE_DATE
		,
		R.REPLY_UPDATE_DATE
		, R.REPLY_STATUS
		, R.REPLY_WRITER
		, R.BOARD_ID
		, U.USER_NICKNAME
		, U.USER_PROFILE_IMG
		FROM BOARD_REPLY R
		LEFT JOIN
		INI_USER U ON R.REPLY_WRITER = U.USER_ID
		WHERE R.BOARD_ID = #{board_id}
		ORDER BY REPLY_ID ASC
		, REPLY_WRITE_DATE ASC
	</select>

	<insert id="insertBoardReplyByBoardId">
		INSERT INTO BOARD_REPLY (
		REPLY_ID
		, REPLY_WRITER
		, REPLY_CONTENT
		, REPLY_STATUS
		, BOARD_ID
		) VALUES (
		board_reply_seq.nextval
		, #{reply_writer}
		, #{reply_content}
		, #{reply_status}
		, #{board_id}
		)
	</insert>

	<insert id="insertBoardReReplyByBoardId">
		INSERT INTO BOARD_REPLY (
		REPLY_ID
		, REPLY_WRITER
		, REPLY_CONTENT
		, REPLY_STATUS
		, BOARD_ID
		) VALUES (
		#{reply_id}
		,
		#{reply_writer}
		, #{reply_content}
		, #{reply_status}
		, #{board_id}
		)
	</insert>

	<delete id="deleteBoardReplyByReplyId">
		delete from board_reply where reply_id = #{reply_id}
	</delete>

	<delete id="deleteBoardRereplyByReplyId">
		delete from board_reply where reply_id = #{reply_id} and reply_status = #{reply_status}
	</delete>

	<select id="findBoardReplyByReplyId" resultType="com.ini.board.vo.BoardReplyDTO">
		select * from board_reply where reply_id = #{reply_id} order by
		reply_write_date asc
	</select>

	<update id="updateBoardReplyByReplyId">
		UPDATE BOARD_REPLY
		SET REPLY_CONTENT = #{reply_content}, REPLY_UPDATE_DATE = DEFAULT
		WHERE REPLY_ID = #{reply_id}
		AND REPLY_STATUS = #{reply_status}
	</update>

	<insert id="insertBoardReplyReport">
		insert into board_reply_report (report_id, report_content, report_user, report_date, report_category, reply_id)
		values (board_reply_report_seq.nextval, #{report_content}, #{report_user}, default, #{report_category}, #{reply_id})
	</insert>

</mapper>