<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ini.member.mapper.MemberMapper">

    <!-- 전체 회원 목록 -->
    <select id="findAllMember" resultType="com.ini.member.vo.MemberDTO">
        SELECT * FROM ini_user
    </select>

    <!-- 팔로우 정보 -->
    <select id="findFollowById" parameterType="string" resultType="com.ini.member.vo.MemberFollowDTO">
        SELECT * FROM user_follow WHERE follower_id = #{user_id}
    </select>

    <!-- ID로 회원 조회 -->
    <select id="findMemberById" parameterType="string" resultType="com.ini.member.vo.MemberDTO">
        SELECT * FROM ini_user WHERE user_id = #{user_id}
    </select>

    <!-- 이메일로 회원 조회 -->
    <select id="findByEmail" parameterType="string" resultType="com.ini.member.vo.MemberDTO">
        SELECT * FROM ini_user WHERE user_email = #{user_email}
    </select>

    <!-- 닉네임으로 회원 조회 -->
    <select id="findByNickname" parameterType="string" resultType="com.ini.member.vo.MemberDTO">
        SELECT * FROM ini_user WHERE user_nickname = #{nickname}
    </select>

    <!-- 회원 등록 -->
    <insert id="insertMember" parameterType="com.ini.member.vo.MemberDTO">
        INSERT INTO ini_user (
            user_id, user_password, user_nickname, user_email, user_phone_number, user_profile_img
        ) VALUES (
            #{user_id}, #{user_password}, #{user_nickname}, #{user_email}, #{user_phone_number}, #{user_profile_img_path}
        )
    </insert>
    
<select id="selectReportedUsers" resultType="com.ini.admin.vo.AdminUserDTO">
  SELECT
    a.user_id           AS user_id,
    p.user_nickname     AS user_nickname,
    p.user_email        AS user_email,
    a.report_count      AS report_count
  FROM USER_AUTHENTICATION a
  JOIN INI_USER p ON a.user_id = p.user_id
  WHERE a.report_count > 0
  ORDER BY a.report_count DESC
</select>

</mapper>